@import url("https://fonts.googleapis.com/css2?family=Quicksand:wght@300..700&display=swap");

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Quicksand", sans-serif;
}

.bannerBG {
  background-image: url("./assets/banner.jpg");
  background-repeat: repeat-x;
  background-size: contain;
}

@keyframes fadeInUp {
  from {
    opacity: 0;
    transform: translateY(30px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

.animate-fadeInUp {
  animation: fadeInUp 0.6s ease-out forwards;
}
